<html>
    <head></head>
    <body>
        <div class="nav-bar">
            <h1>Welcome {{request.session.logged_user}}</h1>
            <a href="/belt_re/logout/">Logout</a>
        </div>
        <div>
            <h3>Add a new book title and a review:</h3>
            <form action="/belt_re/create/" method="POST">
                {% csrf_token %}
                <span><h3>Book Title:</h3><input type="text" name="bookname"></span>
                <span><h3>Author:</h3> Enter a new author: <input type="text" name="author1">
                    {% if request.session.authors %}
                        Or pick from list:
                        <select name="author2">
                            {% for author in request.session.authors %}
                                <option value="{{author.name}}">{{author.name}}</option>
                            {% endfor %}
                        </select></span>
                    {% endif %}
                <span><h3>Review:</h3><textarea name="review"></textarea></span>
                <span><h3>Rating:</h3><select name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select></span>
                <input type="submit" value="Add book and review">
            </form>
        </div>
    </body>
</html>